.u-section-1 .u-sheet-1 {
  min-height: 675px;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  margin-bottom: 49px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-11 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-20 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-24 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-26 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-27 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-28 {
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-29 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-30 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-31 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-32 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-33 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-34 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-35 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-36 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-37 {
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-38 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-39 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-40 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-41 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-42 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-43 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-44 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-45 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-46 {
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-47 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-48 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-49 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-50 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-51 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-52 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-53 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-54 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-55 {
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-56 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-57 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-58 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-59 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-60 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-61 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-62 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-63 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-64 {
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-65 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-66 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-67 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-68 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-69 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-70 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-71 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-72 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-73 {
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-74 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-75 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-76 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-77 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-78 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-79 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-80 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-81 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-82 {
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-83 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-84 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-85 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-86 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-87 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-88 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-89 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-90 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-91 {
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-92 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-93 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-94 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-95 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-96 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-97 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-98 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-99 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-100 {
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-101 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-102 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-103 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-104 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-105 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-106 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-107 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-108 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-109 {
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-110 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-111 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-112 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-113 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-114 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-115 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-116 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-117 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-118 {
  background-image: none;
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-119 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-120 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-121 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-122 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-123 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-124 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-125 {
  font-size: 0.75rem;
  background-image: none;
}

.u-section-1 .u-table-cell-126 {
  font-size: 0.75rem;
  background-image: none;
}

.u-block-086b-27 {
  background-image: none;
}